
  <div class="container wrapper">
    <div class="footer__row">
      <section class="footer__module footer__module--centered"> <a href="/"> 
          {% if settings.footer_logo_enable %}
              
              <img  class="footer__logo" src="{{ 'footer_logo.png' | asset_url }}" alt="{{ shop.name }}" itemprop="logo">
            {% endif %}
        
        </a> </section>
      <section class="footer__module">
     
       <h3 class="footer__title">{{ settings.footer-4-heading }}</h3>
       <p>{{ settings.footer-4-content}}</p>
        
      </section>
      <section class="footer__module">
      
      
             {% if linklists[settings.footer].links.size > 0  %} 
	  <div class="link_box">
        <h3 class="footer__title">{{ settings.footer_2_heading }}</h3>
        
		<ul class="footer__linklist list--unstyled">
            {% for link in linklists[settings.footer].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
       
	   </div>
		 {% endif %}  
		 
		 
		 
		      {% if linklists[settings.footer-1].links.size > 0  %} 
	  <div class="link_box">
        <h3 class="footer__title">{{ settings.footer_3_heading }}</h3>
        
		<ul class="footer__linklist list--unstyled">
            {% for link in linklists[settings.footer-1].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
       
	   </div>
		 {% endif %}  
		 
		 
		 
		 
		      {% if linklists[settings.footer-2].links.size > 0  %} 
	  <div class="link_box">
        <h3 class="footer__title">{{ settings.footer_4_heading }}</h3>
        
		<ul class="footer__linklist list--unstyled">
            {% for link in linklists[settings.footer-2].links %}
              <li><a href="{{ link.url }}">{{ link.title }}</a></li>
            {% endfor %}
        </ul>
       
	   </div>
		 {% endif %}  
		
      
        
      </section>
    </div>
    
    
    <div class="footer__row">
      <section class="footer__module footer-social">
        <h3 class="footer__title">Follow us</h3>
        <ul class="footer__social list--unstyled">
         
        
         {% if settings.social_twitter_link != blank %}
                    <li class="social__item">
                      <a class="icon-fallback-text" href="{{ settings.social_twitter_link }}" title="{{ shop.name }} on Twitter">
                        <span class="icon icon-twitter" aria-hidden="true"></span>
                        <span class="fallback-text">Twitter</span>
                      </a>
                    </li>
                  {% endif %}
                  {% if settings.social_facebook_link != blank %}
                    <li class="social__item">
                      <a class="icon-fallback-text" href="{{ settings.social_facebook_link }}" title="{{ shop.name }} on Facebook">
                        <span class="icon icon-facebook" aria-hidden="true"></span>
                        <span class="fallback-text">Facebook</span>
                      </a>
                    </li>
                  {% endif %}
                    {% if settings.social_youtube_link != blank %}
                    <li class="social__item">
                      <a class="icon-fallback-text" href="{{ settings.social_youtube_link }}" title="{{ shop.name }} on Youtube">
                        <span class="icon icon-youtube" aria-hidden="true"></span>
                        <span class="fallback-text">Youtube</span>
                      </a>
                    </li>
                  {% endif %}
                   {% if settings.social_instagram_link != blank %}
                    <li class="social__item">
                      <a class="icon-fallback-text" href="{{ settings.social_instagram_link }}" title="{{ shop.name }} on Instagram">
                        <span class="icon icon-instagram" aria-hidden="true"></span>
                        <span class="fallback-text">Instagram</span>
                      </a>
                    </li>
                  {% endif %}
        
                   {% if settings.social_pinterest_link != blank %}
                  <li class="social__item">
                      <a class="icon-fallback-text" href="{{ settings.social_pinterest_link }}" title="{{ shop.name }} on Pinterest">
                        <span class="icon icon-pinterest" aria-hidden="true"></span>
                        <span class="fallback-text">Pinterest</span>
                      </a>
                    </li>
                  {% endif %}
                
        
        </ul>
      </section>
      <section class="footer__module">
        <h3 class="footer__title">Contact us</h3>
        <p>{{ settings.footer-0-content }}</p>
        <p><a href="mailto:{{ settings.footer-0-content_email }}"> {{ settings.footer-0-content_email }} </a></p>
       
      </section>
      <section class="footer__module">
        
        
         {% if settings.footer_newsletter_enable %}
             <h3 class="footer__title">{{ 'layout.footer.newsletter_title' | t }}</h3>
              {% if settings.newsletter_form_action != blank %}
                {% assign form_action = settings.newsletter_form_action %}
              {% else %}
                {% assign form_action = '#' %}
              {% endif %}
       
     
        
         <form action="{{ form_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank" class="footer__form">
                <input type="email" value="{% if customer %}{{ customer.email }}{% endif %}" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" name="EMAIL" id="mail" class="footer__input" aria-label="{{ 'general.newsletter_form.newsletter_email' | t }}" autocorrect="off" autocapitalize="off">
               
                <input type="submit" class="footer__submit" name="subscribe" id="subscribe" value="{{ 'general.newsletter_form.submit' | t }}">
        </form>
        {% endif %}
      </section>
    </div>
    <div class="footer__misc">
      <p class="footer__copyright"> <a href="{{ settings.buttom-footer-4-heading_link }}">{{ settings.buttom-footer-4-heading }}</a> / <a target="_top" rel="nofollow" href="{{ settings.buttom-footer-4-content_link }}">{{ settings.buttom-footer-4-content}}</a> </p>
    
      <p style="margin-left:150px;"><img src="https://cdn.shopify.com/s/files/1/2077/1865/files/trustseal.png"></p>
      
        
      
    </div>
  </div>

