<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% capture rendered %}
  <script type="text/javascript">
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/4YQSveRiBO25dC5MBNbCZ5XOk4m2pFpcj9qDBtK7/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!--PRELOAD-->
  <link rel="preload" href="https://static.fancycrazy.com/frontend.css?{{ shop.metafields.fancyCrazySrc.frontend_css }}" as="style" crossorigin="anonymous">

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {{ content_for_header }}
  {% include 'oldIE-js' %}
  {% comment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  <script>var o=function(e,t,n){var i=jQuery;function getCookie(e){var t=e+"=";var r=decodeURIComponent(n);var i=r.split(";");for(var o=0;o<i.length;o++){var a=i[o];while(a.charAt(0)==" "){a=a.substring(1)}if(a.indexOf(t)==0){return a.substring(t.length,a.length)}}return""}i.cachedScript=function(e,t){t=i.extend(t||{},{dataType:"script",cache:true,url:e});return i.ajax(t)};return{dev:getCookie("dev")==="1",loadCss:function(e){var n=t.createElement("link");n.rel="stylesheet";n.href=e;n.type="text/css";var r=t.getElementsByTagName("link")[0];r.parentNode.insertBefore(n,r)},loadJs:function(e){if(typeof e==="string")e=[e];(function r(){if(e.length>0)i.cachedScript(e.shift()).done(r)})()}}}(window,document,document.cookie);</script>
  <script>if(!o.dev)o.loadCss(['https://static.fancycrazy.com/frontend.css?{{ shop.metafields.fancyCrazySrc.frontend_css }}']);</script>
</head>
{% comment %}{% include 'someone_purchase' %}{% endcomment %}

<body class="{% if template != 'index' %}not_index {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
<div id="as-root"></div><script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;
    r=e.createElement(t);r.id=n;r.src="//button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")</script>

{% include 'theme-state' %}
{{ content_for_layout }}

<script>
  if(o.dev){
    o.loadJs(['https://localhost:8080/vendor.js','https://localhost:8080/frontend.js'])
  } else {
    o.loadJs([
      'https://static.fancycrazy.com/inline.js?{{ shop.metafields.fancyCrazySrc.inline_js }}',
      'https://static.fancycrazy.com/vendor.js?{{ shop.metafields.fancyCrazySrc.vendor_js }}',
      'https://static.fancycrazy.com/frontend.js?{{ shop.metafields.fancyCrazySrc.frontend_js }}'])
  }
</script>
{% endcapture %}{{ rendered | strip_newlines | replace: "  ","" | replace: ": ",":" | replace: " =":"=" | replace: "= ":"=" | replace: 'requestHost="fancycrazy.com"':'requestHost="fancycrazy.com";' }}
{% comment %}
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
{% endcomment %}
</body>
</html>
