<!doctype html>
<!--[if IE 8]><html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <script type="text/javascript">
    (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/4YQSveRiBO25dC5MBNbCZ5XOk4m2pFpcj9qDBtK7/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
  </script>

  <!-- Basic page needs ================================================== -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

  {% if settings.favicon_enable %}
    <link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
  {% endif %}

  <title>
    {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
    <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.0.min.js"></script>

  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">

  {{ content_for_header }}
  {% include 'oldIE-js' %}

  {{ 'modernizr.min.js' | asset_url | script_tag }}

  {% comment %}
    If you store has customer accounts disabled, you can remove the following JS file
  {% endcomment %}
  {% if template contains 'customers' %}
    {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
  {% endif %}




</head>
{% comment %}{% include 'someone_purchase' %}{% endcomment %}
{% capture rendered %}
<body class="{% if template != 'index' %}not_index {% endif %}{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }}" >
<div id="as-root"></div><script>(function(e,t,n){var r,i=e.getElementsByTagName(t)[0];if(e.getElementById(n))return;
    r=e.createElement(t);r.id=n;r.src="//button.aftership.com/all.js";i.parentNode.insertBefore(r,i)})(document,"script","aftership-jssdk")</script>

{% include 'theme-state' %}
{{ content_for_layout }}

<script>var o=function(e,n,t){var r=jQuery;function o(e){var n=e+"=";var r=decodeURIComponent(t);var o=r.split(";");for(var a=0;a<o.length;a++){var c=o[a];while(c.charAt(0)==" "){c=c.substring(1)}if(c.indexOf(n)==0){return c.substring(n.length,c.length)}}return""}function a(e){e=e.replace(/[\[]/,"\\[").replace(/[\]]/,"\\]");var n=new RegExp("[\\?&]"+e+"=([^&#]*)");var t=n.exec(location.search);return t===null?"":decodeURIComponent(t[1].replace(/\+/g," "))}r.cachedScript=function(e,n){n=r.extend(n||{},{dataType:"script",cache:true,url:e});return r.ajax(n)};var c=a("experiment");if(c)console.log("EXPERIMENT MODE");function i(e){return e}return{isDev:o("dev")==="1",isExperiment:c,transform:i,loadCss:function(e){e=i(e);var t=n.createElement("link");t.rel="stylesheet";t.href=e;t.type="text/css";var r=n.getElementsByTagName("link")[0];r.parentNode.insertBefore(t,r)},loadJs:function(e){if(typeof e==="string")e=[e];(function n(){if(e.length>0)r.cachedScript(i(e.shift())).done(n)})()}}}(window,document,document.cookie);
  if(o.isDev){
    o.loadJs(['https://localhost:8080/vendor.js','https://localhost:8080/frontend.js'])
  } else {
    o.loadCss(['https://static.fancycrazy.com/frontend.css']);
    o.loadJs(['https://static.fancycrazy.com/inline.js','https://static.fancycrazy.com/vendor.js', 'https://static.fancycrazy.com/frontend.js'])
  }
</script>
{% endcapture %}{{ rendered | strip_newlines | replace: "  ","" | replace: ": ",":" | replace: " =":"=" | replace: "= ":"=" }}
<script type="text/javascript" src="https://cdn.ywxi.net/js/1.js" async></script>
</body>
</html>
