{% if settings.slider_enable1 or settings.slider_enable2 or settings.slider_enable3 or settings.slider_enable4 %}

{% assign load='loading' %}

{% else %}

{% assign load='' %}

{% endif %}

  <div id="main" role="main">
    <section class="slider">
      <div class="flexslider">
        <ul class="slides">
          {% if settings.slider_enable1 %}
          <li>
            <a href="{{ settings.slider_link1 }}" class='slider_link'>
            <img class="nav-bar desktop_nav" src="{{ 'hero_slide_1.png' | asset_url }}" />
           <img class="nav-bar mobile_nav" src="{{ 'm_hero_slide_1.png' | asset_url }}" />
            </a>
            
            
          </li>
          {% endif %}
          {% if settings.slider_enable2 %}
          <li>
            <a href="{{ settings.slider_link2 }}" class='slider_link'>
             <img class="nav-bar desktop_nav" src="{{ 'hero_slide_2.png' | asset_url }}" />
           <img class="nav-bar mobile_nav" src="{{ 'm_hero_slide_2.png' | asset_url }}" />
            </a>

          </li>
          {% endif %}
          {% if settings.slider_enable3 %}
          <li>
           <a href="{{ settings.slider_link3 }}" class="slider_link">
            <img class="nav-bar desktop_nav" src="{{ 'hero_slide_3.png' | asset_url }}" />
           <img class="nav-bar mobile_nav" src="{{ 'm_hero_slide_3.png' | asset_url }}" />

            </a>
          </li>
          {% endif %}
          {% if settings.slider_enable4 %}
          <li>
               <a href="{{ settings.slider_link4 }}" class="slider_link">
            <img class="nav-bar desktop_nav" src="{{ 'hero_slide_4.png' | asset_url }}" />
           <img class="nav-bar mobile_nav" src="{{ 'm_hero_slide_4.png' | asset_url }}" />
            </a>

          </li>
          {% endif %}
        </ul>
      </div>
    </section>


  <style type="text/css">
  
    li.css a {
      border-radius: 0;
    }
  </style>
 
</div>





<style>
.flexslider .slides > li:first-child {display: block; -webkit-backface-visibility: visible;} 
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;}


</style>


{{ 'flexslider.css' | asset_url | stylesheet_tag }}
{{ 'jquery.flexslider.js' | asset_url | script_tag }}
<script type="text/javascript">
    
  $(window).load(function(){
    $('.flexslider').flexslider({
      animation: "slide",
      slideshowSpeed: "{{ settings.slideshowSpeed }}",
      animationSpeed: "{{ settings.animationSpeed }}",
      smoothHeight: false,
      start: function(slider){
      $('.flexslider').removeClass('loading');
      }
    });
  });
  
  
</script>
<!-- FlexSlider -->


