<div class="section-header">
  <h2 class="h1 section-header__title section-header__left">{{ settings.home_feature_title }}</h2>
  <hr class="hr--small">
</div>


<div class="fourth_product_disposition" id="container">
  


    {% for product in collections[settings.home_products].products %}
  
  {% comment %}
  Check if the product is on sale and set a variable to be used below.
{% endcomment %}
{% assign on_sale = false %}
{% if product.compare_at_price > product.price %}
  {% assign on_sale = true %}
{% endif %}

{% comment %}
  Check if the product is sold out and set a variable to be used below.
{% endcomment %}
{% assign sold_out = true %}
{% if product.available %}
  {% assign sold_out = false %}
{% endif %}
  
	{% assign var_count = forloop.index %}
    <div class="item large--one-quarter">
      
      
          
            {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if on_sale %}
          <p class="{{ sale_box_opt  }}">  
      {% if product.price_varies %}
              <strong>{{ 'products.product.on_sale' | t }}</strong> 
            {% else %}
        <strong>{{ 'products.product.on_sale' | t }}</strong>
     
      {% endif %}
            </p>
    {% endif %}
   
        {% if sold_out %}
             <p class="{{ sale_box_opt  }}">
   
               <strong>{{ 'products.product.sold_out' | t }}</strong>
    </p>
               {% endif %}
      
      
     
      
      
      <div class="h_pod">
        <a href="{{ product.url }}">
          <img src="{{ product | img_url: 'medium' }}" alt="{{ product.featured_image.alt | escape }}" class="image">
        </a>
      </div>
        <div class="home_prod_info">
         
          <div class="box_left">
          <h5 class="title">{{ product.title }}</h5>
        
                <p class="sale">
    {% comment %}
      You can show a leading 'from' or 'up to' by checking 'product.price_varies'
      if your variants have different prices.
    {% endcomment %}
    {% if on_sale %}
      {% if product.price_varies %}
        {% assign sale_price = product.price | money %}
        {{ 'products.product.on_sale_from_html' | t: price: sale_price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
            
    {% else %}
      {% if product.price_varies %}
        {% assign price = product.price | money %}
        {{ 'products.general.from_text_html' | t: price: price }}
      {% else %}
        {{ product.price | money }}
      {% endif %}
    {% endif %}
   
            {% if sold_out %}
    {% endif %}
    {% if on_sale %}
      <s>{{ product.compare_at_price | money }}</s>
    {% endif %}
  
            
  </p>
          </div>
      
              
         <div class="box_right"> 
              
      <a class="buy_button coll-prod-buy styled-small-button" href="{{ product.url }}">
      Buy
    </a>        
              
              </div>          
       
            </div>
      
    </div>
	{% if var_count == 4 or var_count == 8 or var_count == 12 or var_count == 16 or var_count == 20 or var_count == 24  %}
    <div class="clear_both"></div>
    {% endif %}

    {% endfor %}
  
</div>