<Style>

.cart__row{     margin-top: 0px;
  margin-bottom: 30px;
  }
  table.full {
    width: 100%;
    margin-bottom: 0px;
}

</Style>
<!-- /templates/cart.liquid -->
{% comment %}

  For info on test orders:
    - General http://docs.shopify.com/manual/your-store/orders/test-orders
    - Shopify Payments - http://docs.shopify.com/manual/more/shopify-payments/testing-shopify-payments

{% endcomment %}

{% if cart.item_count > 0 %}


  <form id="update_cart" action="/cart" method="post" novalidate class="cart table-wrap">
  <input style="    float: right; margin-bottom: 16px;" type="submit" name="checkout" class="checkout_btn btn" value="{{ 'cart.general.checkout' | t }}">
   
  <h2>{{ 'cart.general.title' | t }}</h2>
    
    
    <table class="cart-table full table--responsive">
     {% comment %}
      <thead class="cart__row cart__header-labels">
        <th colspan="2" class="text-left">{{ 'cart.label.product' | t }}</th>
        <th class="text-left">{{ 'cart.label.quantity' | t }}</th>
        <th class="text-left">{{ 'cart.label.price' | t }}</th>
        <th class="text-left">&nbsp</th>
        
        <th class="text-left">{{ 'cart.label.total' | t }}</th>
        
      </thead>
      {% endcomment %}
      <tbody>
        {% for item in cart.items %}
        
       
          <tr class="cart__row table__section">
            <td data-label="{{ 'customer.order.product' | t }}">
              <a href="{{ item.url | within: collections.all }}" class="cart__image">
                {% comment %}
                  More image size options at:
                    - http://docs.shopify.com/themes/filters/product-img-url
                {% endcomment %}
                <img src="{{ item | img_url: 'compact' }}" alt="{{ item.title | escape }}">
              </a>
            </td>
            <td>
              <a href="{{ item.url }}" class="h5">
                {{ item.product.title }}
              </a>
              {% unless item.variant.title contains 'Default' %}
                <br>
                <small>{{ item.variant.title }}</small>
              {% endunless %}

              {% if settings.cart_vendor_enable %}
                <p>{{ item.vendor }}</p>
              {% endif %}

              {% comment %}
                Optional, loop through custom product line items if available

                For more info on line item properties, visit:
                  - http://docs.shopify.com/support/your-store/products/how-do-I-collect-additional-information-on-the-product-page-Like-for-a-monogram-engraving-or-customization
              
             
              {% assign property_size = item.properties | size %}
              {% if property_size > 0 %}
                {% for p in item.properties %}
                  {% unless p.last == blank %}
                    {{ p.first }}:

                    {% comment %}
                      Check if there was an uploaded file associated
                    {% endcomment %}
                    {% if p.last contains '/uploads/' %}
                      <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
                    {% else %}
                      {{ p.last }}
                    {% endif %}

                    <br>
                  {% endunless %}
                {% endfor %}
              {% endif %}

              {% endcomment %}

              
              {% for free in item.properties %}
              {% assign freeitemParent = free.last  %}
              {% endfor %}
              
              
              {% comment %}
              <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
                <small>{{ 'cart.general.remove' | t }}</small>
              </a>
              {% endcomment %}
            </td>
            
          
            
              {% assign  freeItem=all_products[settings.free_product].selected_or_first_available_variant.id %}

          
            {% if freeItem == item.id %}
            
            
            <td data-label="{{ 'cart.label.quantity' | t }}">
            <!--  <input type="number" readonly name="updates[]" class="text_cart_box free_{{ freeitemParent | first }}" id="updates_{{ item.id }}" value="{{ item.quantity }}" min='0'>
           -->
             <div class="cart_quantity not_click_btn">
                   <a class="plus-minus"><i class='iconsh cart_minus'></i></a>
                    <input name="updates[]" readonly class="text_cart_box free_{{ freeitemParent | first }}" id="updates_{{ item.id }}" type="text" value="{{ item.quantity }}" min="0" size="3" />
                   <a class="plus-minus" ><i class='iconsh cart_plus'></i></a>

              </div>
            
            
            </td> 
            {% else %}
            <td data-label="{{ 'cart.label.quantity' | t }}">
             <!-- <input type="number" name="updates[]" class="text_cart_box offerUpdate" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0">
           -->
            <div class="cart_quantity">
                   <a class="plus-minus" onclick="TextBox_AddToIntValue_{{ item.id }}('updates_{{ item.id }}',-1)"><i class='iconsh cart_minus'></i></a>
                    <input name="updates[]" class="text_cart_box offerUpdate" id="updates_{{ item.id }}" type="text" value="{{ item.quantity }}" min="0" size="3" />
                   <a class="plus-minus" onclick="TextBox_AddToIntValue_{{ item.id }}('updates_{{ item.id }}',+1)"><i class='iconsh cart_plus'></i></a>

              </div>
              
              
          <script>

                  function TextBox_AddToIntValue_{{ item.id }}(targetId,addToValue)
                  {
                      var input = document.getElementById(targetId);
                      var textInt = parseInt(input.value);
                      if(isNaN(textInt))
                      {
                          textInt = 0;
                      }
                      
                    
                     var total_quantity= textInt + addToValue;
                   //input.value=total_quantity;
                    
                   if(total_quantity<=0){
                        input.value=0;
                    } else{
                       input.value=total_quantity;
                    }
                    
                   
                    
                  }

          </script> 
            
            </td>
            
            {% endif %}
            
            <td>
              
            
              
             
              
            </td>
            
            <td data-label="{{ 'cart.label.price' | t }}">
              <span class="h5">
                {{ item.line_price | money }}
              </span>
            </td>
            
            <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
              <span class="h5">
             <!--   <a href="/cart/change?line={{ forloop.index }}&amp;quantity=0" class="cart__remove">
               -->
         <a href="javascript:" data="{{ item.id }}" class="cart__remove">
           {% comment %}
                  <small>{{ 'cart.general.remove' | t }}</small>
           {% endcomment %}
           <small>X</small>
           
              </a>
              </span>
            </td>
            
            {% comment %}
            <td data-label="{{ 'cart.label.total' | t }}" class="text-right">
              <span class="h3">
                {{ item.line_price | money }}
              </span>
            </td>
            {% endcomment %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <div class="grid cart__row">
      {% if settings.cart_notes_enable %}
        <div class="grid__item two-thirds small--one-whole">
          <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
          <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
        </div>
      {% endif %}
      <div class="grid__item text-right{% if settings.cart_notes_enable %} one-third small--one-whole{% endif %}">
        <p>
          <span class="cart__subtotal-title"><span id="bk-cart-subtotal-label">{{ 'cart.general.subtotal' | t }}</span></span>
          <span class="h3 cart__subtotal"><span id="bk-cart-subtotal-price">{{ cart.total_price | money }}</span></span>
        </p>
        <!--<p><em>{{ 'cart.general.shipping_at_checkout' | t }}</em></p>
        -->
            
     
        
        {% if settings.cart_enable %}
        
        
         {{ 'jquery.countdownTimer_2hours.js' | asset_url | script_tag }}

          <script>
            
            
            var time_minute={{ settings.cart_timer_minute }}/60 ;
         //   alert(time_minute);
            var hours = Math.floor( time_minute / 60);          
            var minutes = Math.floor(time_minute % 60);     

            
            $(function(){
              $('#hm_timer').countdowntimer({
                hours : hours,
                minutes :minutes,
                seconds :00
              });
            });
          </script>


        <p class="timer_box"><span class="cart_text">{{ settings.cart_title }} </span>
          <span id="hm_timer" classs="cart_time"></span></p>
        
        {% endif %}
        
        <input type="submit" name="update" class="btn--secondary update-cart" value="{{ 'cart.general.update' | t }}">
       
        <input type="submit" name="checkout" class="checkout_btn btn" value="{{ 'cart.general.checkout' | t }}">
      </div>
    </div>
    
    <div class="grid cart__row">
    
    
    <div class="grid__item large--one-half checkout-logos">
    <div class="we-accept">
      <p> {{ settings.cart_left_title }} </p>
      <img src="{{ 'cart_left_image.png' | asset_url }}">
    </div>
      </div> 
      
    <div class="grid__item large--one-half text-right secure-shopping">
      <p> {{ settings.cart_right_title }}  </p>
      <img src="{{ 'cart_right_image.png' | asset_url }}">
    </div>
      
    </div>

    
    </div>
  </form>
{% else %}
  {% comment %}
    The cart is empty
  {% endcomment %}
  <h2>{{ 'cart.general.title' | t }}</h2>
  <p>{{ 'cart.general.empty' | t }}</p>
  <p>{{ 'cart.general.continue_browsing_html' | t }}</p>
{% endif %}


<script>
  $(document).ready(function(){
    
    $('.cart__remove').on('click', function(){
   var parentid=$(this).attr("data");
      
var freeid=$(".free_"+parentid).attr("id"); 
     
     // alert($(freeid).length);
      
       if (freeid)
       {
       
        var spldprd=freeid.split("_");
     var $parentid=Number(parentid);
   var $childprd=Number(spldprd[1]);  
    $("#updates_"+$parentid).val(0);  
     $("#updates_"+$childprd).val(0);  
       
       } else{
     
       
     var $parentid=Number(parentid); 
    $("#updates_"+$parentid).val(0); 
         
       }
      
      $("#update_cart").submit();
      
  //jQuery.post('/cart/update.js', "updates["+$parentid+"]=0&updates["+$childprd+"]=0");       
  
    });


    $(".offerUpdate").on('keyup, mouseup', function(){
      
      var quantity_upsell="{{ settings.quantity_upsell }}";
       
            var currentData= $(this).val();
        var parentid=$(this).attr("id");
      var parentu_id=parentid.split("_");
      
      if(currentData < quantity_upsell) {

      var freeid=$(".free_"+parentu_id[1]).attr("id"); 
        
        if(freeid){       
         $("#"+freeid).val(0); 
        }
        
      } else{
       var freeid=$(".free_"+parentu_id[1]).attr("id"); 
        
        if(freeid){       
         $("#"+freeid).val(1); 
        }
     
      }
      
    });
});
</script>


