{% layout 'theme-vue' %}
{% paginate collection.products by 24 %}
  <div id="app"></div>
  <script>
    window.__state__.pageCollections = {
      handle: {{ collection.handle | json }},
      tag: {{ current_tags | first | json }},
      title: {{ collection.title | json }},
      totalPages: {{ paginate.pages | json }},
      products: [
        {% for product in collection.products %}
        {% include 'product-item-json' %}
        {% unless forloop.last %},{% endunless %}{% endfor %}
      ],
      current: {{ paginate.current_page | minus: 1 | json }},
      perPage: 24,
      __cache__: [],
      reviewUrl: {{ collection.id | prepend: "https://us-central1-fancycrazy-895ba.cloudfunctions.net/s/reviews/collections/" | json }}
    };
  </script>
{% section 'collections-sidebar' %}
{% section 'collections-reviews' %}
{% endpaginate %}
