{% layout 'theme-vue' %}
<div id="app" v-cloak></div>
{% comment %}
<div id="app-desktop" style="display:none">{{ shop.metafields.fancyCrazySsr['desktop-'] }}</div>
<div id="app-phone" style="display:none">{{ shop.metafields.fancyCrazySsr['phone-'] }}</div>
<script>
  if(!o.dev){
    var md=new MobileDetect(window.navigator.userAgent),
      $app=$('#app:not([data-server-rendered])');
    if(md.mobile()){
      $app.replaceWith($('#app-phone').children())
    } else {
      console.log('desktop detected');
      $app.replaceWith($('#app-desktop').children())
    }
  }
</script>
{% endcomment %}
<script>
  {% assign collectionList = 'Native Apparel|Animal Spirit Bedding|Hippie Car Seat Covers|Dreamcatcher Saddle Bag|Yoga Leggings|Christian necklace|Pet Hightop' | split: '|' %}
  window.__state__.pageIndex = {
    collections: [
      {% for collectionHandle in collectionList %}
      {% assign handle = collectionHandle | handleize %}
      {% assign col = collections[handle] %}
      {
        "handle": {{ handle | json }},
        "title": "{{ col.title | upcase }}",
        "url": "{{ col.url }}",
        "image": {{ col.image | img_url: 'large'  | replace: '//cdn.shopify.com':'' | json }}
      }
      {% unless forloop.last %},{% endunless %}{% endfor %}
    ],
    featuredProducts: [
      {% assign collectionList = 'Bed|Native Apparel|Dreamcatcher Legging|Hippe Car Seat Cover' | split: '|' %}
      {% for col_handle in collectionList %}
      {% assign handle = col_handle | handleize %}
      {% assign col = collections[handle] %}
      [
        {% for product in col.products | limit: 6 %}
        {% include 'product-item-json' %}
        {% unless forloop.last %},{% endunless %}{% endfor %}
      ]
      {% unless forloop.last %},{% endunless %}{% endfor %}
    ],
    reviews:{}
  };
</script>
