
  

<div class="first_product_disposition" id="container">

  {% comment %}
  
  {% capture legal_hours %}*9*10*11*12*13*14*15*16*17{% endcapture %}
  
  {% capture current_hour %}*{{ 'now' | date: "%H" }}*{% endcapture %}

  {% endcomment %}
  
  
  
      {% assign randomly_collection = collections[settings.popup_randomly_collection] %}

  
  {% capture index %}{{ 'now' | date: '%S' | times: randomly_collection.products.size | divided_by: 100000 }}{% endcapture %}
  
  
{% for product in randomly_collection.products offset:index limit:100 %}

 
{{ product.id }}

    {% endfor %}


  
  
  
  
  
{% for product in collections.randomly-product-list.products %} 

 


  
   <div class="h_pod">
         <h5 class="title">{{ product.title }}</h5>
        <a href="{{ product.url }}">
          <img style="width:20px;" src="{{ product | img_url: 'grande' }}" alt="{{ product.featured_image.alt | escape }}" class="image">
        </a>
     


    {% endfor %}
  
</div>
    
    
    
    
    
    
    
    
    
    
    
    
    